doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    div(class='main_body_wrapper')
      header(class='header')
        div(class='nav_burger_wrapper')
          button(tabindex='1' title='Main menu; tap to open.' aria-label='Main menu; tap to open.' class='burger' data-toggle='mobile-menu-open' data-toggle-target='body')
            svg(id='Menu_Open' xmlns='http://www.w3.org/2000/svg' width='30' height='22' viewBox='0 0 30 22' aria-hidden='true')
              g(id='Group_85' data-name='Group 85' transform='translate(0)')
                rect(id='Rectangle_46' data-name='Rectangle 46' width='4' height='30' rx='1.948' transform='translate(0 4) rotate(-90)' fill='#005f98')
              g(id='Group_86' data-name='Group 86' transform='translate(0 9)')
                rect(id='Rectangle_47' data-name='Rectangle 47' width='4' height='30' rx='1.948' transform='translate(0 4) rotate(-90)' fill='#005f98')
              g(id='Group_87' data-name='Group 87' transform='translate(0 18)')
                rect(id='Rectangle_48' data-name='Rectangle 48' width='4' height='30' rx='1.948' transform='translate(0 4) rotate(-90)' fill='#005f98')

          div(class='sliding_nav_menu')
            header(class='mobile_header')
              button(tabIndex='1' title='Mobile menu; tap to close.' aria-label='Mobile menu; tap to close.' class='close' data-toggle='mobile-menu-open' data-toggle-target='body')
                svg(id='Menu_Close' xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' aria-hidden='true')
                  line(x1='0' y1='0' x2='30' y2='30' stroke='#F7C64A' stroke-width='3')
                  line(x1='0' y1='30' x2='30' y2='0' stroke='#F7C64A' stroke-width='3')

              img(src='/images/logo_small.png' alt='Downtown Donuts Small Logo' height='100px')

            ul(id='mobile_nav_wrapper')
              li
                a(href='/' target='_self' class='nav_links') Home
              li
                a(href='/menu' target='_self' class='nav_links') Menu
              li 
                a(href='/about' target='_self' class='nav_links') About
              li 
                a(href='/feedback' target='_self' class='nav_links') Tell Us!

        ul(id='main_nav_wrapper')
          li
            a(href='/' target='_self' class='nav_links') Home
          li
            a(href='/menu' target='_self' class='nav_links') Menu
          li 
            a(href='/about' target='_self' class='nav_links') About
          li 
            a(href='/feedback' target='_self' class='nav_links') Tell Us!
          li 
            input(type='button', onclick="location.href='/order_online'", value='Order Online')

        img(src='/images/logo_small.png' alt='Downtown Donuts Small Logo' height='100px')

      block content
