body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  font: 14px "Montserrat Regular";
}

a.nav_links {
  color: #F7F7F7;
  text-decoration: none;
  font-size: 25px;
}

header.header {
  position: relative;
  background-color: #10291D;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 24px -14px #605f5c;
  height: max-content;
  align-items: center;
}

header.mobile_header {
  position: relative;
  background-color: #10291D;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 24px -14px #605f5c;
  height: max-content;
  align-items: center;
  border-bottom: 2px solid #F7C64A;
}

.burger {
  background-color: transparent;
  border: 0 solid transparent;
  width: 60px;
  height: 40px;
  margin: 10px 0;
  padding: 2px 0 0 0;
}

.close {
  background-color: transparent;
  border: 0 solid transparent;
  width: 60px;
  height: 40px;
  margin: 10px 0;
  padding: 2px 0 0 0;
}

div.nav_burger_wrapper {
  display: none;
}

div.sliding_nav_menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #10291D;
  z-index: 100;
}

div.sliding_nav_menu.open {
  transform: translateX(0); /* slide menu in */
}

div#main_body_wrapper {
  width: 100vw;
  margin: 0;
}

ul#main_nav_wrapper {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  list-style: none;
  gap: 40px;
  width: max-content;
  margin: 0 0 0 30px;
}

ul#mobile_nav_wrapper {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 40px;
  width: max-content;
  height: max-content;
  margin: 30px auto 0 auto;
  justify-content: center;
}

@media (max-width: 768px) {
  ul#main_nav_wrapper {
    display: none;  /* hide normal menu */
  }

  div.nav_burger_wrapper {
    display: block;  /* show hamburger icon */
  }
}
